.App{
    display: flex;
    
}


.loaderError__container{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.users, .groups{
    display: flexbox;
    width: 800px;
    align-items: center;
    justify-content: center;
}
/* .users__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.add {
    margin: 20px 200px;
    display:flex;
    align-items: center;
    justify-content: right;
    width: 800px;
}

header {
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color:lightblue;
    height: 70px;
}



.navbar__header{
    margin: 0 80px;
    display: flex;
    justify-content: left;
    align-items: center;

    height: 70px;
}

.header__link{
    margin: 30px 30px;
    font-size: 19px;
    padding: 0 10px;
    transition: 2s;
    cursor: pointer;

}

.header__link_get{
    padding: 0 10px;
    margin: 30px 30px;
    text-decoration:underline white 7px;
    font-size: 19px;
}
.header__link:hover{

    text-decoration:underline white 7px;

}



a { 
    margin: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}


* {
    margin: 0;
    padding: 0;

}


.post {
    display: flex;
    border: 5px solid lightblue;
    padding: 10px;
    margin-top: 15px;
    justify-content:space-between;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 15px;

  
}
.post__body {
      margin-left: 0;
}

.post__content{
    display: flexbox;
    justify-content: center;
    align-items: center;
}
  

  .page__wrapper, .group__wrapper, .users__wrapper {
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .page {
    padding: 10px;
    border: 1px solid lightblue;
    cursor: pointer;
  }
  .page__current {
    border: 5px solid yellow;
    font-weight: bold;
  }


  .btns {
      display: flex;
      justify-content:space-between;
      align-items: center;
  }